/*!
	CSS Grid
	https://github.com/caitken-com/css-grid
	License MIT 2024
*/

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
[data-layout~=container] { width: 100%; margin: 0 auto; display: block; max-width: 1000px; }

[data-layout~=flex] { flex-wrap: wrap; display: flex; }
[data-layout~=fill] { flex: 1 1 0%; flex-basis: 0; }
[data-layout~=fit] { flex-basis: auto; }

[data-layout~=float-center] { margin-left: auto; margin-right: auto; display: block; float: none; }
[data-layout~=float-left] { float: left; }
[data-layout~=float-right] { float: right; }
[data-layout~=clear-fix]::after { content: ''; display: table; clear: both; }

[data-layout~=text-left] { text-align: left !important; }
[data-layout~=text-right] { text-align: right !important; }
[data-layout~=text-center] { text-align: center !important; }

[data-layout~=grid-cols] { display: grid !important; grid-gap: 16px; grid-template-columns: repeat(12, 1fr); }
[data-layout~=grid-rows] { display: grid !important; grid-gap: 16px; grid-template-rows: repeat(12, 1fr); }

[data-layout*=grid-cols-] { display: grid !important; grid-gap: 16px; grid-template-columns: 1fr; }
[data-layout*=grid-rows-] { display: grid !important; grid-gap: 16px; grid-template-rows: 1fr; }

[data-layout~=grid-cols-1] { grid-template-columns: repeat(1, 1fr); }
[data-layout~=grid-cols-2] { grid-template-columns: repeat(2, 1fr); }
[data-layout~=grid-cols-3] { grid-template-columns: repeat(3, 1fr); }
[data-layout~=grid-cols-4] { grid-template-columns: repeat(4, 1fr); }
[data-layout~=grid-cols-5] { grid-template-columns: repeat(5, 1fr); }
[data-layout~=grid-cols-6] { grid-template-columns: repeat(6, 1fr); }
[data-layout~=grid-cols-7] { grid-template-columns: repeat(7, 1fr); }
[data-layout~=grid-cols-8] { grid-template-columns: repeat(8, 1fr); }
[data-layout~=grid-cols-9] { grid-template-columns: repeat(9, 1fr); }
[data-layout~=grid-cols-10] { grid-template-columns: repeat(10, 1fr); }
[data-layout~=grid-cols-11] { grid-template-columns: repeat(11, 1fr); }
[data-layout~=grid-cols-12] { grid-template-columns: repeat(12, 1fr); }

[data-layout~=grid-rows-1] { grid-template-rows: repeat(1, 1fr); }
[data-layout~=grid-rows-2] { grid-template-rows: repeat(2, 1fr); }
[data-layout~=grid-rows-3] { grid-template-rows: repeat(3, 1fr); }
[data-layout~=grid-rows-4] { grid-template-rows: repeat(4, 1fr); }
[data-layout~=grid-rows-5] { grid-template-rows: repeat(5, 1fr); }
[data-layout~=grid-rows-6] { grid-template-rows: repeat(6, 1fr); }
[data-layout~=grid-rows-7] { grid-template-rows: repeat(7, 1fr); }
[data-layout~=grid-rows-8] { grid-template-rows: repeat(8, 1fr); }
[data-layout~=grid-rows-9] { grid-template-rows: repeat(9, 1fr); }
[data-layout~=grid-rows-10] { grid-template-rows: repeat(10, 1fr); }
[data-layout~=grid-rows-11] { grid-template-rows: repeat(11, 1fr); }
[data-layout~=grid-rows-12] { grid-template-rows: repeat(12, 1fr); }

[data-layout^=cols-1-], [data-layout^=cols-2-], [data-layout^=cols-3-], [data-layout^=cols-4-], [data-layout^=cols-5-], [data-layout^=cols-6-],
[data-layout^=cols-7-], [data-layout^=cols-8-], [data-layout^=cols-9-], [data-layout^=cols-10-], [data-layout^=cols-11-], [data-layout^=cols-12-] { grid-column: span 12; }

[data-layout^=rows-1-], [data-layout^=rows-2-], [data-layout^=rows-3-], [data-layout^=rows-4-], [data-layout^=rows-5-], [data-layout^=rows-6-],
[data-layout^=rows-7-], [data-layout^=rows-8-], [data-layout^=rows-9-], [data-layout^=rows-10-], [data-layout^=rows-11-], [data-layout^=rows-12-] { grid-row: span 12; }

[data-layout~=cols-1] { grid-column: span 1 / 1 span; }
[data-layout~=cols-2] { grid-column: span 2 / 2 span; }
[data-layout~=cols-3] { grid-column: span 3 / 3 span; }
[data-layout~=cols-4] { grid-column: span 4 / 4 span; }
[data-layout~=cols-5] { grid-column: span 5 / 5 span; }
[data-layout~=cols-6] { grid-column: span 6 / 6 span; }
[data-layout~=cols-7] { grid-column: span 7 / 7 span; }
[data-layout~=cols-8] { grid-column: span 8 / 8 span; }
[data-layout~=cols-9] { grid-column: span 9 / 9 span; }
[data-layout~=cols-10] { grid-column: span 10 / 10 span; }
[data-layout~=cols-11] { grid-column: span 11 / 11 span; }
[data-layout~=cols-12] { grid-column: span 12 / 12 span; }

[data-layout~=rows-1] { grid-row: span 1 / 1 span; }
[data-layout~=rows-2] { grid-row: span 2 / 2 span; }
[data-layout~=rows-3] { grid-row: span 3 / 3 span; }
[data-layout~=rows-4] { grid-row: span 4 / 4 span; }
[data-layout~=rows-5] { grid-row: span 5 / 5 span; }
[data-layout~=rows-6] { grid-row: span 6 / 6 span; }
[data-layout~=rows-7] { grid-row: span 7 / 7 span; }
[data-layout~=rows-8] { grid-row: span 8 / 8 span; }
[data-layout~=rows-9] { grid-row: span 9 / 9 span; }
[data-layout~=rows-10] { grid-row: span 10 / 10 span; }
[data-layout~=rows-11] { grid-row: span 11 / 11 span; }
[data-layout~=rows-12] { grid-row: span 12 / 12 span; }

[data-layout~=cols-top] { align-items: start; }
[data-layout~=cols-middle] { align-items: center; }
[data-layout~=cols-bottom] { align-items: end; }

[data-layout~=around] { justify-content: space-around; }
[data-layout~=between] { justify-content: center; }

[data-layout~=gap-none] { grid-gap: 0; }
[data-layout~=gap-cols-none] { grid-column-gap: 0; }
[data-layout~=gap-rows-none] { grid-row-gap: 0; }

[data-layout~=first] { order: -1; }
[data-layout~=last] { order: 12; }

[data-layout~=hide] { display: none !important; }
[data-layout~=show] { display: initial !important; }

[data-layout~=cols-offset-1] { grid-column-start: 1; }
[data-layout~=cols-offset-2] { grid-column-start: 2; }
[data-layout~=cols-offset-3] { grid-column-start: 3; }
[data-layout~=cols-offset-4] { grid-column-start: 4; }
[data-layout~=cols-offset-5] { grid-column-start: 5; }
[data-layout~=cols-offset-6] { grid-column-start: 6; }
[data-layout~=cols-offset-7] { grid-column-start: 7; }
[data-layout~=cols-offset-8] { grid-column-start: 8; }
[data-layout~=cols-offset-9] { grid-column-start: 9; }
[data-layout~=cols-offset-10] { grid-column-start: 10; }
[data-layout~=cols-offset-11] { grid-column-start: 11; }
[data-layout~=cols-offset-12] { grid-column-start: 12; }

[data-layout~=rows-offset-1] { grid-row-start: 1; }
[data-layout~=rows-offset-2] { grid-row-start: 2; }
[data-layout~=rows-offset-3] { grid-row-start: 3; }
[data-layout~=rows-offset-4] { grid-row-start: 4; }
[data-layout~=rows-offset-5] { grid-row-start: 5; }
[data-layout~=rows-offset-6] { grid-row-start: 6; }
[data-layout~=rows-offset-7] { grid-row-start: 7; }
[data-layout~=rows-offset-8] { grid-row-start: 8; }
[data-layout~=rows-offset-9] { grid-row-start: 9; }
[data-layout~=rows-offset-10] { grid-row-start: 10; }
[data-layout~=rows-offset-11] { grid-row-start: 11; }
[data-layout~=rows-offset-12] { grid-row-start: 12; }

@media (min-width: 480px)
{
	[data-layout~=grid-cols-1-sm] { grid-template-columns: repeat(1, 1fr); }
	[data-layout~=grid-cols-2-sm] { grid-template-columns: repeat(2, 1fr); }
	[data-layout~=grid-cols-3-sm] { grid-template-columns: repeat(3, 1fr); }
	[data-layout~=grid-cols-4-sm] { grid-template-columns: repeat(4, 1fr); }
	[data-layout~=grid-cols-5-sm] { grid-template-columns: repeat(5, 1fr); }
	[data-layout~=grid-cols-6-sm] { grid-template-columns: repeat(6, 1fr); }
	[data-layout~=grid-cols-7-sm] { grid-template-columns: repeat(7, 1fr); }
	[data-layout~=grid-cols-8-sm] { grid-template-columns: repeat(8, 1fr); }
	[data-layout~=grid-cols-9-sm] { grid-template-columns: repeat(9, 1fr); }
	[data-layout~=grid-cols-10-sm] { grid-template-columns: repeat(10, 1fr); }
	[data-layout~=grid-cols-11-sm] { grid-template-columns: repeat(11, 1fr); }
	[data-layout~=grid-cols-12-sm] { grid-template-columns: repeat(12, 1fr); }

	[data-layout~=grid-rows-1-sm] { grid-template-rows: repeat(1, 1fr); }
	[data-layout~=grid-rows-2-sm] { grid-template-rows: repeat(2, 1fr); }
	[data-layout~=grid-rows-3-sm] { grid-template-rows: repeat(3, 1fr); }
	[data-layout~=grid-rows-4-sm] { grid-template-rows: repeat(4, 1fr); }
	[data-layout~=grid-rows-5-sm] { grid-template-rows: repeat(5, 1fr); }
	[data-layout~=grid-rows-6-sm] { grid-template-rows: repeat(6, 1fr); }
	[data-layout~=grid-rows-7-sm] { grid-template-rows: repeat(7, 1fr); }
	[data-layout~=grid-rows-8-sm] { grid-template-rows: repeat(8, 1fr); }
	[data-layout~=grid-rows-9-sm] { grid-template-rows: repeat(9, 1fr); }
	[data-layout~=grid-rows-10-sm] { grid-template-rows: repeat(10, 1fr); }
	[data-layout~=grid-rows-11-sm] { grid-template-rows: repeat(11, 1fr); }
	[data-layout~=grid-rows-12-sm] { grid-template-rows: repeat(12, 1fr); }

	[data-layout~=cols-1-sm] { grid-column: span 1 / 1 span; }
	[data-layout~=cols-2-sm] { grid-column: span 2 / 2 span; }
	[data-layout~=cols-3-sm] { grid-column: span 3 / 3 span; }
	[data-layout~=cols-4-sm] { grid-column: span 4 / 4 span; }
	[data-layout~=cols-5-sm] { grid-column: span 5 / 5 span; }
	[data-layout~=cols-6-sm] { grid-column: span 6 / 6 span; }
	[data-layout~=cols-7-sm] { grid-column: span 7 / 7 span; }
	[data-layout~=cols-8-sm] { grid-column: span 8 / 8 span; }
	[data-layout~=cols-9-sm] { grid-column: span 9 / 9 span; }
	[data-layout~=cols-10-sm] { grid-column: span 10 / 10 span; }
	[data-layout~=cols-11-sm] { grid-column: span 11 / 11 span; }
	[data-layout~=cols-12-sm] { grid-column: span 12 / 12 span; }

	[data-layout~=rows-1-sm] { grid-row: span 1 / 1 span; }
	[data-layout~=rows-2-sm] { grid-row: span 2 / 2 span; }
	[data-layout~=rows-3-sm] { grid-row: span 3 / 3 span; }
	[data-layout~=rows-4-sm] { grid-row: span 4 / 4 span; }
	[data-layout~=rows-5-sm] { grid-row: span 5 / 5 span; }
	[data-layout~=rows-6-sm] { grid-row: span 6 / 6 span; }
	[data-layout~=rows-7-sm] { grid-row: span 7 / 7 span; }
	[data-layout~=rows-8-sm] { grid-row: span 8 / 8 span; }
	[data-layout~=rows-9-sm] { grid-row: span 9 / 9 span; }
	[data-layout~=rows-10-sm] { grid-row: span 10 / 10 span; }
	[data-layout~=rows-11-sm] { grid-row: span 11 / 11 span; }
	[data-layout~=rows-12-sm] { grid-row: span 12 / 12 span; }

	[data-layout~=cols-offset-1-sm] { grid-column-start: 1; }
	[data-layout~=cols-offset-2-sm] { grid-column-start: 2; }
	[data-layout~=cols-offset-3-sm] { grid-column-start: 3; }
	[data-layout~=cols-offset-4-sm] { grid-column-start: 4; }
	[data-layout~=cols-offset-5-sm] { grid-column-start: 5; }
	[data-layout~=cols-offset-6-sm] { grid-column-start: 6; }
	[data-layout~=cols-offset-7-sm] { grid-column-start: 7; }
	[data-layout~=cols-offset-8-sm] { grid-column-start: 8; }
	[data-layout~=cols-offset-9-sm] { grid-column-start: 9; }
	[data-layout~=cols-offset-10-sm] { grid-column-start: 10; }
	[data-layout~=cols-offset-11-sm] { grid-column-start: 11; }
	[data-layout~=cols-offset-12-sm] { grid-column-start: 12; }

	[data-layout~=rows-offset-1-sm] { grid-row-start: 1; }
	[data-layout~=rows-offset-2-sm] { grid-row-start: 2; }
	[data-layout~=rows-offset-3-sm] { grid-row-start: 3; }
	[data-layout~=rows-offset-4-sm] { grid-row-start: 4; }
	[data-layout~=rows-offset-5-sm] { grid-row-start: 5; }
	[data-layout~=rows-offset-6-sm] { grid-row-start: 6; }
	[data-layout~=rows-offset-7-sm] { grid-row-start: 7; }
	[data-layout~=rows-offset-8-sm] { grid-row-start: 8; }
	[data-layout~=rows-offset-9-sm] { grid-row-start: 9; }
	[data-layout~=rows-offset-10-sm] { grid-row-start: 10; }
	[data-layout~=rows-offset-11-sm] { grid-row-start: 11; }
	[data-layout~=rows-offset-12-sm] { grid-row-start: 12; }

	[data-layout~=cols-top-sm] { align-items: start; }
	[data-layout~=cols-middle-sm] { align-items: center; }
	[data-layout~=cols-bottom-sm] { align-items: end; }

	[data-layout~=around-sm] { justify-content: space-around; }
	[data-layout~=between-sm] { justify-content: center; }

	[data-layout~=gap-none-sm] { grid-gap: 0; }
	[data-layout~=gap-cols-none-sm] { grid-column-gap: 0; }
	[data-layout~=gap-rows-none-sm] { grid-row-gap: 0; }

	[data-layout~=first-sm] { order: -1; }
	[data-layout~=last-sm] { order: 12; }

	[data-layout~=hide-sm] { display: none !important; }
	[data-layout~=show-sm] { display: initial !important; }

	[data-layout~=fill-sm] { flex: 1 1 0%; flex-basis: 0; }
	[data-layout~=fit-sm] { flex-basis: auto; }

	[data-layout~=float-center-sm] { margin-left: auto; margin-right: auto; display: block; float: none; }
	[data-layout~=float-left-sm] { float: left; }
	[data-layout~=float-right-sm] { float: right; }
	[data-layout~=clear-fix-sm]::after { content: ''; display: table; clear: both; }

	[data-layout~=text-left-sm] { text-align: left !important; }
	[data-layout~=text-right-sm] { text-align: right !important; }
	[data-layout~=text-center-sm] { text-align: center !important; }
}

@media (min-width: 720px)
{
	[data-layout~=grid-cols-1-md] { grid-template-columns: repeat(1, 1fr); }
	[data-layout~=grid-cols-2-md] { grid-template-columns: repeat(2, 1fr); }
	[data-layout~=grid-cols-3-md] { grid-template-columns: repeat(3, 1fr); }
	[data-layout~=grid-cols-4-md] { grid-template-columns: repeat(4, 1fr); }
	[data-layout~=grid-cols-5-md] { grid-template-columns: repeat(5, 1fr); }
	[data-layout~=grid-cols-6-md] { grid-template-columns: repeat(6, 1fr); }
	[data-layout~=grid-cols-7-md] { grid-template-columns: repeat(7, 1fr); }
	[data-layout~=grid-cols-8-md] { grid-template-columns: repeat(8, 1fr); }
	[data-layout~=grid-cols-9-md] { grid-template-columns: repeat(9, 1fr); }
	[data-layout~=grid-cols-10-md] { grid-template-columns: repeat(10, 1fr); }
	[data-layout~=grid-cols-11-md] { grid-template-columns: repeat(11, 1fr); }
	[data-layout~=grid-cols-12-md] { grid-template-columns: repeat(12, 1fr); }

	[data-layout~=grid-rows-1-md] { grid-template-rows: repeat(1, 1fr); }
	[data-layout~=grid-rows-2-md] { grid-template-rows: repeat(2, 1fr); }
	[data-layout~=grid-rows-3-md] { grid-template-rows: repeat(3, 1fr); }
	[data-layout~=grid-rows-4-md] { grid-template-rows: repeat(4, 1fr); }
	[data-layout~=grid-rows-5-md] { grid-template-rows: repeat(5, 1fr); }
	[data-layout~=grid-rows-6-md] { grid-template-rows: repeat(6, 1fr); }
	[data-layout~=grid-rows-7-md] { grid-template-rows: repeat(7, 1fr); }
	[data-layout~=grid-rows-8-md] { grid-template-rows: repeat(8, 1fr); }
	[data-layout~=grid-rows-9-md] { grid-template-rows: repeat(9, 1fr); }
	[data-layout~=grid-rows-10-md] { grid-template-rows: repeat(10, 1fr); }
	[data-layout~=grid-rows-11-md] { grid-template-rows: repeat(11, 1fr); }
	[data-layout~=grid-rows-12-md] { grid-template-rows: repeat(12, 1fr); }

	[data-layout~=cols-1-md] { grid-column: span 1 / 1 span; }
	[data-layout~=cols-2-md] { grid-column: span 2 / 2 span; }
	[data-layout~=cols-3-md] { grid-column: span 3 / 3 span; }
	[data-layout~=cols-4-md] { grid-column: span 4 / 4 span; }
	[data-layout~=cols-5-md] { grid-column: span 5 / 5 span; }
	[data-layout~=cols-6-md] { grid-column: span 6 / 6 span; }
	[data-layout~=cols-7-md] { grid-column: span 7 / 7 span; }
	[data-layout~=cols-8-md] { grid-column: span 8 / 8 span; }
	[data-layout~=cols-9-md] { grid-column: span 9 / 9 span; }
	[data-layout~=cols-10-md] { grid-column: span 10 / 10 span; }
	[data-layout~=cols-11-md] { grid-column: span 11 / 11 span; }
	[data-layout~=cols-12-md] { grid-column: span 12 / 12 span; }

	[data-layout~=rows-1-md] { grid-row: span 1 / 1 span; }
	[data-layout~=rows-2-md] { grid-row: span 2 / 2 span; }
	[data-layout~=rows-3-md] { grid-row: span 3 / 3 span; }
	[data-layout~=rows-4-md] { grid-row: span 4 / 4 span; }
	[data-layout~=rows-5-md] { grid-row: span 5 / 5 span; }
	[data-layout~=rows-6-md] { grid-row: span 6 / 6 span; }
	[data-layout~=rows-7-md] { grid-row: span 7 / 7 span; }
	[data-layout~=rows-8-md] { grid-row: span 8 / 8 span; }
	[data-layout~=rows-9-md] { grid-row: span 9 / 9 span; }
	[data-layout~=rows-10-md] { grid-row: span 10 / 10 span; }
	[data-layout~=rows-11-md] { grid-row: span 11 / 11 span; }
	[data-layout~=rows-12-md] { grid-row: span 12 / 12 span; }

	[data-layout~=cols-offset-1-md] { grid-column-start: 1; }
	[data-layout~=cols-offset-2-md] { grid-column-start: 2; }
	[data-layout~=cols-offset-3-md] { grid-column-start: 3; }
	[data-layout~=cols-offset-4-md] { grid-column-start: 4; }
	[data-layout~=cols-offset-5-md] { grid-column-start: 5; }
	[data-layout~=cols-offset-6-md] { grid-column-start: 6; }
	[data-layout~=cols-offset-7-md] { grid-column-start: 7; }
	[data-layout~=cols-offset-8-md] { grid-column-start: 8; }
	[data-layout~=cols-offset-9-md] { grid-column-start: 9; }
	[data-layout~=cols-offset-10-md] { grid-column-start: 10; }
	[data-layout~=cols-offset-11-md] { grid-column-start: 11; }
	[data-layout~=cols-offset-12-md] { grid-column-start: 12; }

	[data-layout~=rows-offset-1-md] { grid-row-start: 1; }
	[data-layout~=rows-offset-2-md] { grid-row-start: 2; }
	[data-layout~=rows-offset-3-md] { grid-row-start: 3; }
	[data-layout~=rows-offset-4-md] { grid-row-start: 4; }
	[data-layout~=rows-offset-5-md] { grid-row-start: 5; }
	[data-layout~=rows-offset-6-md] { grid-row-start: 6; }
	[data-layout~=rows-offset-7-md] { grid-row-start: 7; }
	[data-layout~=rows-offset-8-md] { grid-row-start: 8; }
	[data-layout~=rows-offset-9-md] { grid-row-start: 9; }
	[data-layout~=rows-offset-10-md] { grid-row-start: 10; }
	[data-layout~=rows-offset-11-md] { grid-row-start: 11; }
	[data-layout~=rows-offset-12-md] { grid-row-start: 12; }

	[data-layout~=cols-top-md] { align-items: start; }
	[data-layout~=cols-middle-md] { align-items: center; }
	[data-layout~=cols-bottom-md] { align-items: end; }

	[data-layout~=around-md] { justify-content: space-around; }
	[data-layout~=between-md] { justify-content: center; }

	[data-layout~=gap-none-md] { grid-gap: 0; }
	[data-layout~=gap-cols-none-md] { grid-column-gap: 0; }
	[data-layout~=gap-rows-none-md] { grid-row-gap: 0; }

	[data-layout~=first-md] { order: -1; }
	[data-layout~=last-md] { order: 12; }

	[data-layout~=hide-md] { display: none !important; }
	[data-layout~=show-md] { display: initial !important; }

	[data-layout~=fill-md] { flex: 1 1 0%; flex-basis: 0; }
	[data-layout~=fit-md] { flex-basis: auto; }

	[data-layout~=float-center-md] { margin-left: auto; margin-right: auto; display: block; float: none; }
	[data-layout~=float-left-md] { float: left; }
	[data-layout~=float-right-md] { float: right; }
	[data-layout~=clear-fix-md]::after { content: ''; display: table; clear: both; }

	[data-layout~=text-left-md] { text-align: left !important; }
	[data-layout~=text-right-md] { text-align: right !important; }
	[data-layout~=text-center-md] { text-align: center !important; }
}

@media (min-width: 960px)
{
	[data-layout~=grid-cols-1-lg] { grid-template-columns: repeat(1, 1fr); }
	[data-layout~=grid-cols-2-lg] { grid-template-columns: repeat(2, 1fr); }
	[data-layout~=grid-cols-3-lg] { grid-template-columns: repeat(3, 1fr); }
	[data-layout~=grid-cols-4-lg] { grid-template-columns: repeat(4, 1fr); }
	[data-layout~=grid-cols-5-lg] { grid-template-columns: repeat(5, 1fr); }
	[data-layout~=grid-cols-6-lg] { grid-template-columns: repeat(6, 1fr); }
	[data-layout~=grid-cols-7-lg] { grid-template-columns: repeat(7, 1fr); }
	[data-layout~=grid-cols-8-lg] { grid-template-columns: repeat(8, 1fr); }
	[data-layout~=grid-cols-9-lg] { grid-template-columns: repeat(9, 1fr); }
	[data-layout~=grid-cols-10-lg] { grid-template-columns: repeat(10, 1fr); }
	[data-layout~=grid-cols-11-lg] { grid-template-columns: repeat(11, 1fr); }
	[data-layout~=grid-cols-12-lg] { grid-template-columns: repeat(12, 1fr); }

	[data-layout~=grid-rows-1-lg] { grid-template-rows: repeat(1, 1fr); }
	[data-layout~=grid-rows-2-lg] { grid-template-rows: repeat(2, 1fr); }
	[data-layout~=grid-rows-3-lg] { grid-template-rows: repeat(3, 1fr); }
	[data-layout~=grid-rows-4-lg] { grid-template-rows: repeat(4, 1fr); }
	[data-layout~=grid-rows-5-lg] { grid-template-rows: repeat(5, 1fr); }
	[data-layout~=grid-rows-6-lg] { grid-template-rows: repeat(6, 1fr); }
	[data-layout~=grid-rows-7-lg] { grid-template-rows: repeat(7, 1fr); }
	[data-layout~=grid-rows-8-lg] { grid-template-rows: repeat(8, 1fr); }
	[data-layout~=grid-rows-9-lg] { grid-template-rows: repeat(9, 1fr); }
	[data-layout~=grid-rows-10-lg] { grid-template-rows: repeat(10, 1fr); }
	[data-layout~=grid-rows-11-lg] { grid-template-rows: repeat(11, 1fr); }
	[data-layout~=grid-rows-12-lg] { grid-template-rows: repeat(12, 1fr); }

	[data-layout~=cols-1-lg] { grid-column: span 1 / 1 span; }
	[data-layout~=cols-2-lg] { grid-column: span 2 / 2 span; }
	[data-layout~=cols-3-lg] { grid-column: span 3 / 3 span; }
	[data-layout~=cols-4-lg] { grid-column: span 4 / 4 span; }
	[data-layout~=cols-5-lg] { grid-column: span 5 / 5 span; }
	[data-layout~=cols-6-lg] { grid-column: span 6 / 6 span; }
	[data-layout~=cols-7-lg] { grid-column: span 7 / 7 span; }
	[data-layout~=cols-8-lg] { grid-column: span 8 / 8 span; }
	[data-layout~=cols-9-lg] { grid-column: span 9 / 9 span; }
	[data-layout~=cols-10-lg] { grid-column: span 10 / 10 span; }
	[data-layout~=cols-11-lg] { grid-column: span 11 / 11 span; }
	[data-layout~=cols-12-lg] { grid-column: span 12 / 12 span; }

	[data-layout~=rows-1-lg] { grid-row: span 1 / 1 span; }
	[data-layout~=rows-2-lg] { grid-row: span 2 / 2 span; }
	[data-layout~=rows-3-lg] { grid-row: span 3 / 3 span; }
	[data-layout~=rows-4-lg] { grid-row: span 4 / 4 span; }
	[data-layout~=rows-5-lg] { grid-row: span 5 / 5 span; }
	[data-layout~=rows-6-lg] { grid-row: span 6 / 6 span; }
	[data-layout~=rows-7-lg] { grid-row: span 7 / 7 span; }
	[data-layout~=rows-8-lg] { grid-row: span 8 / 8 span; }
	[data-layout~=rows-9-lg] { grid-row: span 9 / 9 span; }
	[data-layout~=rows-10-lg] { grid-row: span 10 / 10 span; }
	[data-layout~=rows-11-lg] { grid-row: span 11 / 11 span; }
	[data-layout~=rows-12-lg] { grid-row: span 12 / 12 span; }

	[data-layout~=cols-offset-1-lg] { grid-column-start: 1; }
	[data-layout~=cols-offset-2-lg] { grid-column-start: 2; }
	[data-layout~=cols-offset-3-lg] { grid-column-start: 3; }
	[data-layout~=cols-offset-4-lg] { grid-column-start: 4; }
	[data-layout~=cols-offset-5-lg] { grid-column-start: 5; }
	[data-layout~=cols-offset-6-lg] { grid-column-start: 6; }
	[data-layout~=cols-offset-7-lg] { grid-column-start: 7; }
	[data-layout~=cols-offset-8-lg] { grid-column-start: 8; }
	[data-layout~=cols-offset-9-lg] { grid-column-start: 9; }
	[data-layout~=cols-offset-10-lg] { grid-column-start: 10; }
	[data-layout~=cols-offset-11-lg] { grid-column-start: 11; }
	[data-layout~=cols-offset-12-lg] { grid-column-start: 12; }

	[data-layout~=rows-offset-1-lg] { grid-row-start: 1; }
	[data-layout~=rows-offset-2-lg] { grid-row-start: 2; }
	[data-layout~=rows-offset-3-lg] { grid-row-start: 3; }
	[data-layout~=rows-offset-4-lg] { grid-row-start: 4; }
	[data-layout~=rows-offset-5-lg] { grid-row-start: 5; }
	[data-layout~=rows-offset-6-lg] { grid-row-start: 6; }
	[data-layout~=rows-offset-7-lg] { grid-row-start: 7; }
	[data-layout~=rows-offset-8-lg] { grid-row-start: 8; }
	[data-layout~=rows-offset-9-lg] { grid-row-start: 9; }
	[data-layout~=rows-offset-10-lg] { grid-row-start: 10; }
	[data-layout~=rows-offset-11-lg] { grid-row-start: 11; }
	[data-layout~=rows-offset-12-lg] { grid-row-start: 12; }

	[data-layout~=cols-top-lg] { align-items: start; }
	[data-layout~=cols-middle-lg] { align-items: center; }
	[data-layout~=cols-bottom-lg] { align-items: end; }

	[data-layout~=around-lg] { justify-content: space-around; }
	[data-layout~=between-lg] { justify-content: center; }

	[data-layout~=gap-none-lg] { grid-gap: 0; }
	[data-layout~=gap-cols-none-lg] { grid-column-gap: 0; }
	[data-layout~=gap-rows-none-lg] { grid-row-gap: 0; }

	[data-layout~=first-lg] { order: -1; }
	[data-layout~=last-lg] { order: 12; }

	[data-layout~=hide-lg] { display: none !important; }
	[data-layout~=show-lg] { display: initial !important; }

	[data-layout~=fill-lg] { flex: 1 1 0%; flex-basis: 0; }
	[data-layout~=fit-lg] { flex-basis: auto; }

	[data-layout~=float-center-lg] { margin-left: auto; margin-right: auto; display: block; float: none; }
	[data-layout~=float-left-lg] { float: left; }
	[data-layout~=float-right-lg] { float: right; }
	[data-layout~=clear-fix-lg]::after { content: ''; display: table; clear: both; }

	[data-layout~=text-left-lg] { text-align: left !important; }
	[data-layout~=text-right-lg] { text-align: right !important; }
	[data-layout~=text-center-lg] { text-align: center !important; }
}

@media (min-width: 1440px)
{
	[data-layout~=grid-cols-1-xl] { grid-template-columns: repeat(1, 1fr); }
	[data-layout~=grid-cols-2-xl] { grid-template-columns: repeat(2, 1fr); }
	[data-layout~=grid-cols-3-xl] { grid-template-columns: repeat(3, 1fr); }
	[data-layout~=grid-cols-4-xl] { grid-template-columns: repeat(4, 1fr); }
	[data-layout~=grid-cols-5-xl] { grid-template-columns: repeat(5, 1fr); }
	[data-layout~=grid-cols-6-xl] { grid-template-columns: repeat(6, 1fr); }
	[data-layout~=grid-cols-7-xl] { grid-template-columns: repeat(7, 1fr); }
	[data-layout~=grid-cols-8-xl] { grid-template-columns: repeat(8, 1fr); }
	[data-layout~=grid-cols-9-xl] { grid-template-columns: repeat(9, 1fr); }
	[data-layout~=grid-cols-10-xl] { grid-template-columns: repeat(10, 1fr); }
	[data-layout~=grid-cols-11-xl] { grid-template-columns: repeat(11, 1fr); }
	[data-layout~=grid-cols-12-xl] { grid-template-columns: repeat(12, 1fr); }

	[data-layout~=grid-rows-1-xl] { grid-template-rows: repeat(1, 1fr); }
	[data-layout~=grid-rows-2-xl] { grid-template-rows: repeat(2, 1fr); }
	[data-layout~=grid-rows-3-xl] { grid-template-rows: repeat(3, 1fr); }
	[data-layout~=grid-rows-4-xl] { grid-template-rows: repeat(4, 1fr); }
	[data-layout~=grid-rows-5-xl] { grid-template-rows: repeat(5, 1fr); }
	[data-layout~=grid-rows-6-xl] { grid-template-rows: repeat(6, 1fr); }
	[data-layout~=grid-rows-7-xl] { grid-template-rows: repeat(7, 1fr); }
	[data-layout~=grid-rows-8-xl] { grid-template-rows: repeat(8, 1fr); }
	[data-layout~=grid-rows-9-xl] { grid-template-rows: repeat(9, 1fr); }
	[data-layout~=grid-rows-10-xl] { grid-template-rows: repeat(10, 1fr); }
	[data-layout~=grid-rows-11-xl] { grid-template-rows: repeat(11, 1fr); }
	[data-layout~=grid-rows-12-xl] { grid-template-rows: repeat(12, 1fr); }

	[data-layout~=cols-1-xl] { grid-column: span 1 / 1 span; }
	[data-layout~=cols-2-xl] { grid-column: span 2 / 2 span; }
	[data-layout~=cols-3-xl] { grid-column: span 3 / 3 span; }
	[data-layout~=cols-4-xl] { grid-column: span 4 / 4 span; }
	[data-layout~=cols-5-xl] { grid-column: span 5 / 5 span; }
	[data-layout~=cols-6-xl] { grid-column: span 6 / 6 span; }
	[data-layout~=cols-7-xl] { grid-column: span 7 / 7 span; }
	[data-layout~=cols-8-xl] { grid-column: span 8 / 8 span; }
	[data-layout~=cols-9-xl] { grid-column: span 9 / 9 span; }
	[data-layout~=cols-10-xl] { grid-column: span 10 / 10 span; }
	[data-layout~=cols-11-xl] { grid-column: span 11 / 11 span; }
	[data-layout~=cols-12-xl] { grid-column: span 12 / 12 span; }

	[data-layout~=rows-1-xl] { grid-row: span 1 / 1 span; }
	[data-layout~=rows-2-xl] { grid-row: span 2 / 2 span; }
	[data-layout~=rows-3-xl] { grid-row: span 3 / 3 span; }
	[data-layout~=rows-4-xl] { grid-row: span 4 / 4 span; }
	[data-layout~=rows-5-xl] { grid-row: span 5 / 5 span; }
	[data-layout~=rows-6-xl] { grid-row: span 6 / 6 span; }
	[data-layout~=rows-7-xl] { grid-row: span 7 / 7 span; }
	[data-layout~=rows-8-xl] { grid-row: span 8 / 8 span; }
	[data-layout~=rows-9-xl] { grid-row: span 9 / 9 span; }
	[data-layout~=rows-10-xl] { grid-row: span 10 / 10 span; }
	[data-layout~=rows-11-xl] { grid-row: span 11 / 11 span; }
	[data-layout~=rows-12-xl] { grid-row: span 12 / 12 span; }

	[data-layout~=cols-offset-1-xl] { grid-column-start: 1; }
	[data-layout~=cols-offset-2-xl] { grid-column-start: 2; }
	[data-layout~=cols-offset-3-xl] { grid-column-start: 3; }
	[data-layout~=cols-offset-4-xl] { grid-column-start: 4; }
	[data-layout~=cols-offset-5-xl] { grid-column-start: 5; }
	[data-layout~=cols-offset-6-xl] { grid-column-start: 6; }
	[data-layout~=cols-offset-7-xl] { grid-column-start: 7; }
	[data-layout~=cols-offset-8-xl] { grid-column-start: 8; }
	[data-layout~=cols-offset-9-xl] { grid-column-start: 9; }
	[data-layout~=cols-offset-10-xl] { grid-column-start: 10; }
	[data-layout~=cols-offset-11-xl] { grid-column-start: 11; }
	[data-layout~=cols-offset-12-xl] { grid-column-start: 12; }

	[data-layout~=rows-offset-1-xl] { grid-row-start: 1; }
	[data-layout~=rows-offset-2-xl] { grid-row-start: 2; }
	[data-layout~=rows-offset-3-xl] { grid-row-start: 3; }
	[data-layout~=rows-offset-4-xl] { grid-row-start: 4; }
	[data-layout~=rows-offset-5-xl] { grid-row-start: 5; }
	[data-layout~=rows-offset-6-xl] { grid-row-start: 6; }
	[data-layout~=rows-offset-7-xl] { grid-row-start: 7; }
	[data-layout~=rows-offset-8-xl] { grid-row-start: 8; }
	[data-layout~=rows-offset-9-xl] { grid-row-start: 9; }
	[data-layout~=rows-offset-10-xl] { grid-row-start: 10; }
	[data-layout~=rows-offset-11-xl] { grid-row-start: 11; }
	[data-layout~=rows-offset-12-xl] { grid-row-start: 12; }

	[data-layout~=cols-top-xl] { align-items: start; }
	[data-layout~=cols-middle-xl] { align-items: center; }
	[data-layout~=cols-bottom-xl] { align-items: end; }

	[data-layout~=around-xl] { justify-content: space-around; }
	[data-layout~=between-xl] { justify-content: center; }

	[data-layout~=gap-none-xl] { grid-gap: 0; }
	[data-layout~=gap-cols-none-xl] { grid-column-gap: 0; }
	[data-layout~=gap-rows-none-xl] { grid-row-gap: 0; }

	[data-layout~=first-xl] { order: -1; }
	[data-layout~=last-xl] { order: 12; }

	[data-layout~=hide-xl] { display: none !important; }
	[data-layout~=show-xl] { display: initial !important; }

	[data-layout~=fill-lx] { flex: 1 1 0%; flex-basis: 0; }
	[data-layout~=fit-lx] { flex-basis: auto; }

	[data-layout~=float-center-xl] { margin-left: auto; margin-right: auto; display: block; float: none; }
	[data-layout~=float-left-xl] { float: left; }
	[data-layout~=float-right-xl] { float: right; }
	[data-layout~=clear-fix-xl]::after { content: ''; display: table; clear: both; }

	[data-layout~=text-left-xl] { text-align: left !important; }
	[data-layout~=text-right-xl] { text-align: right !important; }
	[data-layout~=text-center-xl] { text-align: center !important; }
}
